@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #2563eb;     
  --color-secondary: #0ea5e9;   
  --color-accent: #8b5cf6;     
}
